/* style1.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9; /* Light green background */
    background: linear-gradient(135deg, #e4e7e8, #67d661); /* Background gradient */
}

header {
    background-color: #6bce70; /* Darker green */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header p {
    margin: 10px 0 0;
    font-size: 1.1em;
    line-height: 1.4em;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-item {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    position: relative;
    padding: 15px;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border: 2px solid #080808; /* Green border */
    border-radius: 10px;
    transition: transform 0.3s;
}

.product-item:hover img {
    transform: scale(1.05);
}

.product-info {
    padding: 15px;
}

.product-info h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #2e7d32; /* Dark green text */
}

.product-info p {
    font-size: 1.2em;
    color: #666666;
}

footer {
    background-color: #101010;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media screen and (max-width: 480px) {
    .product-item {
        width: 100%;
    }
}
